.form {
    margin-top: 10%;
}

.boton {
    margin: 15px 0 0 0;
}

.posting {
    border: 1px solid #424242;
    border-radius: 5px;
    padding: 20px;
}

    .posting label {
        font-weight: 400;
        font-size: x-large;
    }

.navegacion {
    display: flex;
    justify-content: space-between;
}

#right {
    margin: 0 35px 0 0;
}

#left {
    margin: 0 16px 0 35px;
}

.post-container {
    border: 1px solid #424242;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
}

#following_page {
    text-align: center;
    padding: 25px;
}

/*.pagination:hover{
     cursor: pointer;
}*/

.post-pages {
    padding: 20px;
    text-align: center;
}

#newpost {
    padding: 25px 0;
}

p {
    margin: 3px 0;
}

#edit {
    color: #3389ff;
}

    #edit:hover {
        cursor: pointer;
    }

#update {
    margin: 15px 0 0 0;
    padding: 5px 10px;
    max-width: 80px;
}

.fa-heart:hover {
    cursor: pointer;
}

#follow_counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
}

@media (max-width: 800px) {
    #follow_counter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 75%;
    }
}
